{%extends "base.html" %}

{%block "title"%}MiRA Diversity{%endblock%}

{%block sidebar%}
Choose Queries
<select id='queryoptions' size="{{queryies|length}}" multiple style="width: 75%;">
{%for q in queries%}
    <option value="{{q.name}}">{{q.name}}</option>
{%endfor%}
</select><br>
<button type='button' id='choosequery'>Add to Selection</button>
<hr>

<form id='diversityform' action="{%url 'alpha'%}" method='GET'>
Chosen Queries
<select id='chosenquery' size="5" multiple style="width: 75%;">
</select><br>
<button type='button' id='removequery'>Remove from Selection</button>
<hr>
<button type='button' id='submit'>Submit</button>
</form>
{%endblock%}

{%block content%}
<div id='chart' style='clear: both; margin:auto; height: 75%;'></div>
{%endblock%}
{%block js%}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>

Highcharts.setOptions({
     colors: [
              '#001f3f',
              '#0074d9',
              '#7fdbff',
              '#39cccc',
              '#3d9970',
              '#2ecc40',
              '#01ff70',
              '#ffdc00',
              '#ff851b',
              '#ff4136',
              '#85144b',
              '#f012be',
              '#b10dc9',
             ]
});

function loadchart(data) {
    $('#chart').highcharts({

	    chart: {
	        type: 'boxplot'
	    },
	    
	    title: {
	        text: 'Alpha Diversity'
	    },
	    
	    legend: {
	        enabled: false
	    },
	
	    xAxis: {
	        categories: data[0],
	        title: {
	            text: 'Query'
	        }
	    },
	    
	    yAxis: {
	        title: {
	            text: 'Inverse Simpson Index Value'
	        },
	    },
	
	    series: [{
	        name: 'Observations',
	        data: data[1],
	        tooltip: {
	            headerFormat: '<strong>Query: </strong><em>{point.key}</em><br/>'
	        }
	    }, {
	        name: 'Outlier',
	        color: Highcharts.getOptions().colors[0],
	        type: 'scatter',
	        data: data[2],
	        marker: {
	            fillColor: 'white',
	            lineWidth: 1,
	            lineColor: Highcharts.getOptions().colors[0]
	        },
	        tooltip: {
	            pointFormat: 'Observation: {point.y}'
	        }
	    }]
	
	});
}

function getdiversity(selectedItem) {
    $("#content").block({message: "<h3><img src='{{STATIC_URL}}img/busy.gif' /> Processing...</h3>"}); 
    $.ajax({
        type: 'GET',
        url: "{%url 'alpha'%}",
        data: selectedItem,
        dataType: 'json',
        success: function (data) {
            loadchart(data);
        },
        complete: function() {    
            $("#content").unblock();  
        },
    });
} 

$('#choosequery').click(function() {
    var selectedItem = $("#queryoptions option:selected");
    $("#chosenquery").append(selectedItem);
});

$('#removequery').click(function() {
    var selectedItem = $("#chosenquery option:selected");
    $("#queryoptions").append(selectedItem);
});

$('#submit').click(function() {
    
    var selectedItem = ""; 
    $("#chosenquery option:selected").each(function() {
        selectedItem += "query="+$(this).val()+"&";
    });
    getdiversity(selectedItem)
});
</script>
{%endblock%}
