{%extends "base.html"%}

{%block title%}Attributes{%endblock%}

{%block sidebar%}
        <h2>Plot Attributes</h2>
          <hr>
          <legend>Select a Query</legend>
          <form id='submitform' action='{%url "attributes"%}' method='post'>{%csrf_token%}
             <select id='querychoice' name='query'>
             <option value="">---</option>
             {%for query in queries %}
             <option pid="{{query.project}}" value="{{query.name}}" {%if query.name == selectedquery%} selected{%endif%}>{{query.name}}</option>
             {%endfor%}
             </select><br>
      
          <hr>
          <legend>Select an Attribute</legend>
          <select name='attribute'>
             <option value="">---</option>
             {%for attr in attributes%}
             <option value="{{attr}}" {%if attr == selectedattribute%} selected{%endif%}>{{attr}}</option>
             {%endfor%}
          </select><br><br>
          <button type='button' id='plotrender' class='btn btn-default'>Submit</button>
          </form>
{%endblock%}

{%block content%}
<div style='padding-bottom: 200px'>
<div id='chart' style='width:75%; height:75%; margin:auto'><svg></svg></div>
</div>
{%endblock%}


{%block js%}
<script>
var currentproj = -1;
$(document).ready(function() {
function loadgraph(data) {
nv.addGraph(function() {
  var chart = nv.models.discreteBarChart()
      .x(function(d) { return d.label })    //Specify the data accessors.
      .y(function(d) { return d.value })
      .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
      .tooltips(false)        //Don't show tooltips
      .showValues(true)       //...instead, show the bar value right on top of each bar.
      .transitionDuration(350)
      ;

  d3.select('#chart svg')
      .datum(data)
      .call(chart);

  nv.utils.windowResize(chart.update);

  return chart;
});
}

$("#querychoice").change(function() {
   console.log($(this).find("option:selected").text());
});

var frm = $('#submitform');
    $('#plotrender').click(function (ev) {
      if ($('form select[name=query]').val() && $('form select[name=attribute]').val()) {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize()+"&format=json",
            success: function (data) {
                mycontent  = "<h2>Query: "+$('form select[name=query]').val()+"</h2><h2>Attribute: "+$('form select[name=attribute]').val()+"</h2><br>";
                $('#chart').html(mycontent+'<svg></svg>');
                $("#chart svg").prop('style', 'background-color: white;');
                loadgraph(data);
            },
        });
      }
        ev.preventDefault();
    });

});
</script>
{%endblock%}
