{%extends "base.html"%}

{%block title%}Build Query{%endblock%}

{%block sidebar%}
<h2>Build a Query</h2>
<a href='{%url "samplebasedquery"%}'><button class='btn btn-default'>Build using sample list</button></a>
{%endblock%}

{%block content%}
<ul class="nav nav-tabs">
  <li class="active"><button class='btn btn-primary tabbutton' href="#attributestab" data-toggle="tab">Use metadata</button></li>
  <li><button class='btn btn-default tabbutton' href="#analysistab" data-toggle="tab">Use analysis</button></li>
</ul>

<h4>Only samples passing all filters will be included</h4>
<div class='tab-content'>
  <div class='tab-pane active' id="attributestab">
    <form action="{%url 'buildquery'%}" method='POST'>{%csrf_token%}
    <table id='mytable' align=center style="margin 0 auto; color: white;">
    <tr><td>Project</td><td><input name='project' type='hidden' value="{{request.session.projectID}}"/>{{request.session.projectName}}</td></tr>
    <tr><td>Query Name</td><td><input name='queryname'/></td></tr>
    <tr><td>Description</td><td><textarea name='description' class='black'></textarea></td></tr>
    <tbody class='filterblock'> 
    <tr><th colspan=2><hr></th></tr>
    <tr><td>Attribute</td><td><select class='attrtrigger black' name='attribute'></select></td></tr>
    <tr><td>Operator</td><td><select class='black' name='operator'></select></td></tr>
    <tr><td>Value</td><td name='attrsection'><input name='filtervalue'/></td></tr>
    <tr><td name='msg' colspan=2 style='background: rgb(217, 237, 247); text-align: center; color: black; padding: 5px;'></td></tr>
    </tbody>
    <tfoot>
    <tr><th colspan=2><hr></th></tr>
    <tr><td><button class='btn btn-default' type='button' id='addfilter'>Add another filter</button>
    <br><br>
    <input class='btn btn-default' type='submit' value='Submit'/></td></tr>
    </tfoot>
    </table>
    </form>
  </div>
  <div class='tab-pane' id="analysistab">
    <form action="{%url 'datasetquery'%}" method='POST'>{%csrf_token%}
    <table align=center class='white' style="margin 0 auto; color: white;">
    <tr><td>Project</td><td><input name='project' type='hidden' value="{{request.session.projectID}}"/>{{request.session.projectName}}</td></tr>
    <tr><td>Query Name</td><td><input name='queryname'/></td></tr>
    <tr><td>Description</td><td><textarea name='description' class='black'></textarea></td></tr>
    <tr><th colspan=2><hr></th></tr>
    <tr><td>Dataset</td><td><select class='black' name='dataset'></select></td></tr>
    <tr><td>Method</td><td><select class='black' name='method'></select></td></tr>
    <tr><td>Category</td><td><select class='black' name='category'></select></td></tr>
    <tbody class='attributeblock'> 
    <tr><th colspan=2><hr></th></tr>
    <tr><td>Taxa</td><td><select class='black' name='taxa'></select></td></tr>
    <tr><td>Operator</td><td><select class='black' name='compare'>
                               <option value="eq">=</option>
                               <option value="ne">&ne;</option>
                               <option value="gt">&gt;</option>
                               <option value="gte">&ge;</option>
                               <option value="lt">&lt;</option>
                               <option value="lte">&le;</option>
                             </select>
                         </td></tr>
    <tr><td>Value</td><td><input type='number' name='value'/></td></tr>
    </tbody>
    <tfoot>
    <tr><th colspan=2><hr></th></tr>
    <tr><td><button class='btn btn-default' type='button' id='attributefilter'>Add another filter</button>
    <br>
    <br>
    <input class='btn btn-default' type='submit' value='Submit'/></td></tr>
    </tfoot>
    </table>
    </form>
  </div>
</div>
{%endblock%}


{%block js %}
<script>

// highlights current tab
$('.tabbutton').click(function() {
        $('.tabbutton').addClass("btn-default"); 
        $('.tabbutton').removeClass("btn-primary");
        $(this).removeClass("btn-default");
        $(this).addClass("btn-primary"); 
});

var operators;
var attrs;

function SortByName(a, b){
  var aName = a.name.toLowerCase();
  var bName = b.name.toLowerCase(); 
  return ((aName < bName) ? -1 : ((aName > bName) ? 1 : 0));
}

function getops() {
    var ops = $.ajax({
       type: "GET",
       url: '{%url "BuildQuery" %}',
       async:false,
       success: function (data) {
       },
   }).responseText;
   return JSON.parse(ops)[2].operators; 
}

function updateops(element) {
    var choices = $('select[name=attribute]').find('option');
    if (choices.length == 0) {return false;}
    var opelement = $(element).find('select[name=operator]');
    $(opelement).empty();
    var active = $(element).find('select[name=attribute]').find(':selected');
    console.log(active);
    if ($(active).length == 0) {active = $(element).find('select[name=attribute]')[0];}
    var activetype = attrs[active.attr("rel")]['fieldtype'];
    $.each(operators, function(i, item) {
         if (item.types.indexOf(activetype) >= 0) {
             $(element).find('select[name=operator]').append("<option value='"+i+"'>"+item.operator+"</option>");
         };
    });
}

function updateattr(projectID) {
   $('.dropfilter').click();
   attrs = $.ajax({
       type: "GET",
       url: '{%url "ListAttributes" %}',
       data: "projectID="+projectID+"&format=json",
       async:false,
       success: function (data) {
           $.each(data.sort(SortByName), function(i, item) {
              $('select[name=attribute]').append("<option rel='"+i+"' value='"+item.name+"'>"+item.name+"</option>");
           });
       },
   }).responseText; 
   attrs = JSON.parse(attrs);
   attrs = attrs.sort(SortByName);
   $('.filterblock').each(function() {updateops(this)});
}

$(document).ready(function() {
     operators = getops();
     updateattr({{request.session.projectID}});     
     fetchattrvalues($('.attrtrigger').closest('tbody'));     
     var dataseturl = "{%url 'ListDatasets'%}?projectID={{request.session.projectID}}";
     $.get(dataseturl, function(data) {
       for(var i = 0; i < data.length; i++) {
          $("select[name=dataset]").append("<option value=\""+ data[i] +"\">"+ data[i] +"</option>");
       }
       loadmethods();
     });
});

$('select[name="project"]').change(function() {
     updateattr($('select[name=project]').val());     
});

$('body').on('change', 'select[name="attribute"]', function() {
     updateops($(this).closest('tbody'));     
});

$('#addfilter').click(function() {
     var element = $('.filterblock:first');
     var mytable = $('#mytable');
     var myclone = element.clone();
     $(myclone).find('tr:last').append('<button class="btn btn-default dropfilter" type="button"><span class="glyphicon glyphicon-trash"></span> Remove</button>');
     $(mytable).find('tbody:last').after(myclone);
     updateops($(myclone).closest('tbody'));
     fetchattrvalues($(myclone).closest('tbody'));
});

$('body').on('click', '.dropfilter', function() {
    $(this).closest('tbody').remove();
});

function loadmethods() {
    $("select[name=method]").empty();
    var dataset = $("select[name=dataset]").val();
    var methodsurl = "{%url 'ListMethods'%}?projectID={{request.session.projectID}}&dataset="+dataset;
    $.get(methodsurl, function(data) {
       for(var i = 0; i < data.length; i++) {
          $("select[name=method]").append("<option value=\""+ data[i] +"\">"+ data[i] +"</option>");
       }
       loadcategories();
     });
}

function loadcategories() {
    $("select[name=category]").empty();
    var dataset = $("select[name=dataset]").val();
    var method = $("select[name=method]").val();
    var methodsurl = "{%url 'ListCategories'%}?projectID={{request.session.projectID}}&dataset="+dataset+"&method="+method;
    $.get(methodsurl, function(data) {
       for(var i = 0; i < data.length; i++) {
          $("select[name=category]").append("<option value=\""+ data[i] +"\">"+ data[i] +"</option>");
       }
       loadtaxa();
     });
}

function loadtaxa() {
    $("select[name=taxa]").empty();
    var dataset = $("select[name=dataset]").val();
    var method = $("select[name=method]").val();
    var category = $("select[name=category]").val();
    var taxaurl = "{%url 'ListTaxa'%}?projectID={{request.session.projectID}}&dataset="+dataset+"&method="+method+"&category="+category;
    $.get(taxaurl, function(data) {
       for(var i = 0; i < data.length; i++) {
          $("select[name=taxa]").append("<option value=\""+ data[i] +"\">"+ data[i] +"</option>");
       }
     });
}

$("select[name=dataset]").change(function() {loadmethods();});
$("select[name=method]").change(function() {loadcategories();});
$("select[name=category]").change(function() {loadtaxa();});

$('#attributefilter').click(function() {
     var element = $('.attributeblock:first');
     var mytable = $(this).closest('table');
     var myclone = element.clone();
     $(myclone).find('tr:last').append('<button class="btn btn-default dropfilter" type="button"><span class="glyphicon glyphicon-trash"></span> Remove</button>');
     $(mytable).find('tbody:last').after(myclone);
});

$('body').on('change', '.attrtrigger', function() {
     fetchattrvalues($(this).closest('tbody'));
});

function fetchattrvalues(element) {
     attribute = $(element).find('select[name=attribute]').val();
     section = $(element).find('td[name=attrsection]');
     inputstring = "<input name='filtervalue'/>";
     pid = {{request.session.projectID}};
     $.get( "{% url 'PullAttributeValues' %}?projectID="+pid+"&attribute="+attribute, function( data ) {
          $(".ajaxalert").remove();
          if (data.type == "DECIMAL") {
		$(element).find("td[name=msg]").html(attribute+" values range from "+data.data[0]+" to "+data.data[1]);
                $(section).html(inputstring);
	  } 
          else { 
		html = "<select class='black' name='filtervalue'>";
		var i=0;
                for (i = 0; i < data.data.length; i++) {
			html += "<option value='"+data.data[i]+"'>"+data.data[i]+"</option>";
		}
                $(section).html(html);
                msg = attribute+" has "+data.data.length+" possible answer"
                if (data.data.length != 1) {msg+="s";}
                $(element).find("td[name=msg]").html(msg);
	  }
     })
    .fail(function() {
        $(element).find("td[name=msg]").html("Error fetching data for "+attribute);
        $(section).html(inputstring);
    });
}
</script>
{%endblock%}
