<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MiRA: Home</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/cover.css">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">MiRA</h3>
              <ul class="nav masthead-nav">
                <li class="dropdown text-left">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Queries <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{%url 'buildquery'%}">Build</a></li>
                    <li><a href="{%url 'managequeries'%}">Manage</a></li>
                  </ul>
                </li>
                <li class="dropdown text-left">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analysis <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{%url 'attributes'%}">Attributes</a></li>
                    <li><a href='{% url "area" %}'>Profiles</a></li>
                    <li><a href='{% url "16sProfileBoxplot" %}'>Profile Distributions</a></li>
                    <li><a href='{% url "alpha" %}'>Alpha Diversity</a></li>
                    <li><a href='{% url "beta" %}'>Beta Diversity</a></li>
                    <li><a href='{% url "pca" %}'>PCA</a></li>
                    <li><a href='{% url "analytics" %}'>Analytics</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <p class="lead">MiRA stands for <b><u>Mi</u></b>crobiome <b><u>R</u></b>esearch <b><u>A</u></b>nalytics and serves as a resource for analysis, visualization, and sharing of multi-omic microbiome datasets.</p>
            <p class="lead">
              {%if user.is_authenticated%}
              <a href="{%url 'logout'%}" class="btn btn-lg btn-default">Sign out <span class="glyphicon glyphicon-log-out"></span></a>
              {%else%}
              <a href="{%url 'login'%}" class="btn btn-lg btn-default">Sign in <span class="glyphicon glyphicon-log-in"></span></a>
              {%endif%}
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>MiRA</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  </body>
</html>
