{% extends "base.html" %}

{%block title%}LEfSe{%endblock%}

{%block sidebar%}
    <h2>LEfSe Analysis - By Query</h2>
    <a href={% url "lefse" %}><button class='btn btn-default' type='button'>Run LEfSe Using Attributes</button></a>
    <form id='dataform' action='{%url "lefse2"%}' method='get'>{%csrf_token%}
       <input type='hidden' id='currentproj' value="{{request.session.projectID}}"/>
       <hr><legend>Select a Dataset</legend><select name='dataset'></select><br>
       <hr><legend>Select a Method</legend><select name='method'></select><br>
       <hr><legend>Select a Category</legend><select name='category'></select><br>
       <hr><legend>Select Queries</legend>
             <select name='query' id='queryoptions' multiple="multiple" style='width: auto'>
             {%for q in queries%}
       	       <option rel="{{q.project}}" value="{{q.name}}" {%if q.name == selectedq%} selected{%endif%}>{{q.name}}</option>
             {%endfor%}
             </select>
    </form>
    <button id='plotrender'>View</button>
{%endblock%}

{%block content%}
<div id='chart' style="height: 75%"></div>
{%endblock%}

{%block js%}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
$("#queryoptions").select2({
 maximumSelectionLength: 2,
});

function loadchart(data, cats) {
	$('#chart').highcharts({
	        chart: {
	            type: 'bar'
	        },
	        title: {
	            text: 'LEfSe Significant LDA Scores'
	        },
	        subtitle: {
	            text: '<a href="http://www.ncbi.nlm.nih.gov/pubmed/21702898" target="_blank">LEfSe Publication</a>',
		    style: { "color": "blue" },
		    useHTML: true,
	        },
	        xAxis: {
	            categories: cats,
	            title: {
	                text: null
	            }
	        },
	        yAxis: {
	            title: {
	                text: 'LDA Score',
	                align: 'high'
	            },
	            labels: {
	                overflow: 'justify'
	            }
	        },
	        plotOptions: {
	            bar: {
	                dataLabels: {
	                    enabled: true
	                },
			events: {
                	    legendItemClick: function () {
                	        return false 
                	    },
            		},
	            },
	        },
		tooltip: {
		    enabled: true,
                    formatter: function() {
        		return '<b>' + this.x + ':</b> '+this.y ;
    		    }
		},
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'top',
	            floating: true,
	            borderWidth: 1,
	            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
	            shadow: true
	        },
	        credits: {
	            enabled: false
	        },
	        series: data, 
	});
}


var chartdata = [];
var classes = {};
var categories = [];
$("#plotrender").click(function() {
    $("#content").block({message: "<h3><img src='{{STATIC_URL}}img/busy.gif' /> Processing...</h3>"}); 
    form = $("#dataform");
    $.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: form.serialize()+"&format=json",
        dataType: 'json',
        success: function (data) {
	    chartdata = [];
	    classes = {};
	    categories = [];
            $("#content").find("table").empty();
            if (data.msg) {
		$(".messagebin").html("<div class='clearfix text-center alert alert-success' style='width:auto;'><button type='button' class='close' data-dismiss='alert'>&times;</button>"+data.msg+"</div>");
	    }
	    if (data.data) {
                myhtml = "<table class='table'><th>Entity</th><th>Log Max Mean</th><th>Class</th><th>LDA Score</th><th>p-Value</th>";
                lines = data.data.split("\n");
		$.each(lines, function(i,row) {
			var cols = row.split("\t");
                        if (Boolean(cols[2])) {
				if (!(cols[2] in classes)) {
					classes[cols[2]] = chartdata.length;
					chartdata.push({"name": cols[2], "data": []});
				} 
				//categories.push(cols[0]);
				chartdata[0]["data"].push({"entity": cols[0], "y":parseFloat(cols[3]), "color": Highcharts.getOptions().colors[classes[cols[2]]]});
				myhtml+="<tr>";
				$.each(cols, function(j,field) {
					myhtml+="<td>"+field+"</td>";
				});
				myhtml+="</tr>";
			}
		});
                if (chartdata.length) {
                	chartdata[0].data.sort(function(a,b) {
				if (a.color > b.color){return 1;}
				if (a.color < b.color){return -1;}
				return 0;
			});
                	for (var j = 0; j<chartdata[0].data.length; j++) {
				categories.push(chartdata[0].data[j].entity);
			}
			myhtml+="</table>";
			$("#content").append(myhtml);
			loadchart(chartdata, categories);
	        } else { 
			$("#chart").empty();
		}
	    }
        },
        complete: function() {    
            $("#content").unblock();  
        },
    });
});
</script>
<script src="{{STATIC_URL}}js/orean_analysis.js"></script>
{%endblock%}
