{%extends "splash.html"%}

{%block title%}MiRA: Sign in{%endblock%}

{%block content%}
            <p class="lead">

<form class="form-horizontal" role="form" action="{%url 'login'%}" method='post'>{%csrf_token%}
  <input type='hidden' name='next' value="{{next}}"/>
  <div class="form-group">
    <div class="col-sm-12">
      <h1>Sign-In</h1>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <input type="email" class="form-control" id="inputuser" name='username' placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <input type="password" class="form-control" id="inputpass" name='password' placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-default pull-left">Sign in</button>
      <a href="{%url 'home'%}" class='pull-left'><button type='button' class='btn btn-default'>Cancel</button></a>
      <a href="{%url 'requestReset'%}" class='pull-right'><button type='button' class='btn btn-link white'>Reset Password</button></a>
    </div>
  </div>
</form>
{%endblock%}
