{% extends "base.html"%}

{%block title%}Manage Queries{%endblock%}

{%block sidebar%}
<h2>Manage Queries</h2>
{%endblock%}


{%block content%}
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><button class='btn btn-primary tabbutton' href="#myqueries" data-toggle="tab">My Queries</button></li>
  <li><button href="#public" data-toggle="tab" class='btn btn-default tabbutton'>Public Queries</button></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="myqueries">
    <table class='table' style='color:white'>
      <tr><th>Name</th><th>Description</th>{%if request.session.projectTimecourse%}<th>Subjects</th><th>Visits</th>{%endif%}<th>Samples</th><th>Shared</th><th>Owner</th><th>Actions</th></tr>
      {%for q in queries%}
      <tr>
          <td>{{q.name}}</td>
          <td>{%if q.description%}{{q.description}}{%else%}None{%endif%}</td>
          {%if request.session.projectTimecourse%}
          <td>{{q.numsubjects}}</td>
          <td>{{q.numvisits}}</td>
          {%endif%}
          <td>{{q.numsamples}}</td>
          <td name='shared'>{{q.share}}</td>
          <td>{{q.user}}</td>
          <td>
            <button class='sharebutton btn btn-default' type='button' rel={{q.project}} value="{{q.name}}">Switch Shared Status</button>
            <button class='deletebutton btn btn-default' type='button' rel={{q.project}} value="{{q.name}}">Delete This Query</button>
            <button class='rebuildbutton btn btn-default' type='button' rel={{q.project}} value="{{q.name}}">Rebuild</button>
            <button class='detailsbutton btn btn-default' type='button'>Build details</button>
          </td>
      </tr>
      <tr class="success black" style='display: none'>
        <td colspan=6>
        {{q.sqlstring}}
        </td>
      </tr>
      {%endfor%}
    </table>
  </div>
  <div class="tab-pane" id="public">
    <table class='table' style='color:white'>
      <tr><th>Name</th><th>Description</th><th>Number of Samples</th><th>Shared</th><th>Owner</th><th>Actions</th></tr>
      {%for q in pubqueries%}
      <tr>
          <td>{{q.name}}</td>
          <td>{%if q.description%}{{q.description}}{%else%}None{%endif%}</td>
          <td>{{q.numsamples}}</td>
          <td name='shared'>{{q.share}}</td>
          <td>{{q.user}}</td>
          <td>
            <button class='rebuildbutton btn btn-default' type='button' rel={{q.project}} value="{{q.name}}">Rebuild</button>
          </td>
      </tr>
      {%endfor%}
    </table>
  </div>
</div>


<!-- Modal -->
<div class="modal fade black" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method='POST' action='{% url "rebuildquery" %}'>{%csrf_token%}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Rebuild Query: <span id='myqueryname'></span></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="new_name">New query name</label>
          <input type="text" class="form-control" id="new_name" name='new_name' placeholder="Name">
        </div>
        <div class="form-group">
          <label for="new_desc">New description</label>
          <textarea class="form-control" id="new_desc" name='new_desc' placeholder="Description"></textarea>
        </div>
        <input type="hidden" id="query_name_input" name='query_name_input'>
        <input type="hidden" id="project_id_input" name='project_id_input'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Rebuild</button>
      </div>
      </form>
    </div>
  </div>
</div>

{%endblock%}

{%block js%}
<script>

// highlights current tab
$('.tabbutton').click(function() {
	$('.tabbutton').addClass("btn-default"); 
	$('.tabbutton').removeClass("btn-primary");
        $(this).removeClass("btn-default");
	$(this).addClass("btn-primary"); 
});

$('.sharebutton').click(function() {
    var statuselement = $(this).closest('tr').find('td[name=shared]');
    var queryname = $(this).val();
    var projectID = parseInt($(this).attr("rel"));
    $.ajax({
        type: 'GET',
        url: '{%url "ShareQuery"%}',
        data: "projectID="+projectID+"&queryname="+queryname ,
        success: function (data) {
            if (parseInt(data) == 0) { $(statuselement).text('False');}
            else { $(statuselement).text('True');}
        },
    });
});


$('.deletebutton').click(function() {
    var rowelement = $(this).closest('tr');
    var queryname = $(this).val();
    var projectID = parseInt($(this).attr("rel"));
    var r=confirm("Are you sure you want to delete query '"+queryname+"'?");
    if (r==true) {
        $.ajax({
            type: 'get',
            url: '{%url "DeleteQuery"%}',
            data: "projectID="+projectID+"&queryname="+queryname,
            success: function (data) {
                $(rowelement).remove();
            },
        });
    }
});

$('.rebuildbutton').click(function() {
    var element = $(this);
    var project = $(element).attr('rel');
    var name = $(element).val();
    $("#myqueryname").text(name);
    $("#project_id_input").val(project);
    $("#query_name_input").val(name);
    $('#myModal').modal('show');
});

$('.detailsbutton').click(function() {
    element = $(this);
    nextrow = $(element).closest('tr').next('tr');
    $(nextrow).toggle();
});

</script>
{%endblock%}
