{%extends "base.html" %}

{%block title%}PCA{%endblock%}

{%block sidebar%}
<form id='submitform' action="{%url 'pca'%}" method="GET">
       <hr><legend>Select a Dataset</legend><select name='dataset'></select><br>
       <hr><legend>Select a Method</legend><select name='method'></select><br>
       <hr><legend>Select a Category</legend><select name='category'></select><br>
       <input type='hidden' id='currentproj' value="{{request.session.projectID}}"/>

<hr><legend>Select Queries</legend>
<div class='selecttbl'>
  <div class='selectrow'>
    <div class='selectleft'>Choices</div>
    <div class='selectmiddle'></div>
    <div class='selectright'>Selections</div>
  </div>
  <div class='selectrow'>
    <div class='selectleft'>
      <select id='queryoptions' size="{{queryies|length}}" multiple style='width: 75%; height: 100%;'>
      {%for q in queries%}
        <option value="{{q.name}}">{{q.name}}</option>
      {%endfor%}
      </select>
    </div>
    <div class='selectmiddle'>
      <button type='button' id='choosequery'><span class="glyphicon glyphicon-arrow-right"></span></button><br>
      <button type='button' id='removequery'><span class="glyphicon glyphicon-arrow-left"></span></button>
    </div>
    <div class='selectright'>
      <form id='diversityform' action="{%url 'alpha'%}" method='GET'>
        <select id='chosenquery' size="{{queryies|length}}" multiple style='width: 75%; height: 100%;'>
        </select>
      </form>
    </div>
  </div>
  <div class='selectrow'>
    <div class='selectleft'></div>
    <div class='selectmiddle'>
      <button type='button' id='submit'>Submit</button>
    </div>
    <div class='selectright'></div>
  </div>
</div>
</form>
{%endblock%}

{%block content%}
<div id='chart' style='clear: both; margin:auto; height: 75%;'></div>
<div class='row'>
	<div class='col-lg-3' id='variancediv'></div> 
	<div class='col-lg-8 col-lg-offset-1' id='keytaxadiv'></div> 
</div>
{%endblock%}
{%block js%}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>

function insertNewTable(tableData) {
        var myhtml = "<table class='table white'>";
        for (i=0; i<tableData.length; i++) {
		row = tableData[i];
		myhtml += '<tr>';
		var delim = 'td';
		if (i == 0) { delim = 'th';}
		for (j = 0; j < row.length; j++) {
			myhtml += '<'+delim+'>'+row[j]+'</'+delim+'>'; 
		}  
		myhtml += '</tr>';
	}
        myhtml += "</table>";
        return myhtml;
}

Highcharts.setOptions({
     colors: [
              '#001f3f',
              '#0074d9',
              '#7fdbff',
              '#39cccc',
              '#3d9970',
              '#2ecc40',
              '#01ff70',
              '#ffdc00',
              '#ff851b',
              '#ff4136',
              '#85144b',
              '#f012be',
              '#b10dc9',
             ]
});

function loadchart(data) {
	var keyTaxa = data.pop();
	var pcVariance = data.pop();
    $('#chart').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Principal Components Analysis',
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'PC1'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'PC2'
            }
        },
        legend: {
            align: 'center',
            verticalAlign: 'bottom',
       },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: 'PC1: {point.x:.2f}<br>PC2: {point.y:.2f}'
                }
            }
        },
        series: data
	});
	$("#variancediv").html(insertNewTable(pcVariance));
	$("#keytaxadiv").html(insertNewTable(keyTaxa));

}

function getdiversity(selectedItem) {
    $("#content").block({message: "<h3><img src='{{STATIC_URL}}img/busy.gif' /> Processing...</h3>"}); 
    var form = $('#submitform');
    $.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: form.serialize()+"&format=json&"+selectedItem,
        success: function (data) {
            loadchart(data);
        },
        complete: function() {    
            $("#content").unblock();  
        },
    });
} 

$('#choosequery').click(function() {
    var selectedItem = $("#queryoptions option:selected");
    $("#chosenquery").append(selectedItem);
});

$('#removequery').click(function() {
    var selectedItem = $("#chosenquery option:selected");
    $("#queryoptions").append(selectedItem);
});

$('#submit').click(function() {
    
    var selectedItem = ""; 
    var count = 0;
    $("#chosenquery option").each(function() {
        selectedItem += "query="+$(this).val()+"&";
        count+=1;
    });
    if(count == 2) {getdiversity(selectedItem);}
    else{alert('Must select exactly 2 queries');}
});
</script>
<script src="{{STATIC_URL}}js/orean_analysis.js"></script>
{%endblock%}
