{%extends "base.html"%}

{%block title%}Profile Page{%endblock%}

{%block sidebar%}
    <h2>Plot Profiles</h2>
    <hr>
    <legend>Select a Query</legend>
    <form action='{%url "stackedbars"%}' method='post'>{%csrf_token%} 
       <select name='query'>
       <option value="">---</option>
       {%for query in queries %}
       <option rel="{{query.project}}" value="{{query.name}}" {%if query.name == selectedquery%} selected{%endif%}>{{query.name}}</option>
       {%endfor%}
       </select><br>
       <input type='hidden' id='currentproj' value="{{request.session.projectID}}"/>     
       <hr><legend>Select a Dataset</legend><select name='dataset'></select><br>
       <hr><legend>Select a Method</legend><select name='method'></select><br>
       <hr><legend>Select a Category</legend><select name='category'></select><br>
    </form>
    <button id='plotrender'>View</button> 
{%endblock%}


{%block content%}
    <div id='chart' style='clear: both; margin:auto; height: 75%;'></div>

{%endblock%}

{%block js%}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>
$(document).ready(function() {
var currentproj = -1;

Highcharts.setOptions({
     colors: [
              '#001f3f',
              '#0074d9',
              '#7fdbff',
              '#39cccc',
              '#3d9970',
              '#2ecc40',
              '#01ff70',
              '#ffdc00',
              '#ff851b',
              '#ff4136',
              '#85144b',
              '#f012be',
              '#b10dc9',
             ]
});

function highchartsload(data) {
        $('#chart').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Sample Profiles'
            },
            xAxis: {
                categories: data[0],
                labels: {
                    enabled: false,
                    rotation: -90,
                    align: 'right',
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Abundance'
                },
                stackLabels: {
                    enabled: false,
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y;}
            },
            plotOptions: {
                column: {
                    pointPadding: 0,
                    groupPadding: 0,
                    stacking: 'normal',
                    dataLabels: {
                        enabled: false,
                    }
                }
            },
            series: data[1]
        });
        $('.highcharts-legend').remove();
    }

function runajax(form, chart) {
        $("div#content").block({message: '<h3><img src="{{STATIC_URL}}img/busy.gif" /> Processing...</h3>'}); 
	$.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize()+"&format=json",
            dataType: 'json',
            success: function (data) {
                console.log(data);
                mycontent  = "<h2>Query: "+$('select[name=query]', form).val()+"</h2><br>";
                chart.html(mycontent+'<svg></svg>');
                highchartsload(data);
            },
            complete: function() { 
                    // unblock when remote call returns 
                    $("div#content").unblock();  
            }, 
        });
}

    var frm = $('form');
    $('#plotrender').click(function() {
          runajax(frm, $('#chart'));
    });

});
</script>
<script src="{{STATIC_URL}}js/mira_analysis.js"></script>
{%endblock%}
