{%extends "root.html"%}

{%block title%}Public Projects{%endblock%}
{%block savePageIcon%}{%endblock%}

{%block header%}
<link rel="stylesheet" href="{{STATIC_URL}}css/cover.css" />
{%endblock%}

{%block main%}
<div id='content'>

{%include "snippets/messages.html"%}

<div style='clear: both'></div>

<div class='container'>
	<h2>Explore the public projects below</h2>
	<div class='row'>
		{%for p in publicProjects%}
  		<div class="col-md-6 well black">
			{{p}}
	                <table class='table black'>
		                <tr><th>Lead</th><td>{{p.user.get_full_name}}</td></tr>
		                <tr><th>Samples with analysis</th><td>{{p.data_samples}}</td></tr>
		                <tr><th>Samples with metadata</th><td>{{p.attribute_samples}}</td></tr>
		                <tr><th>Metadata fields</th><td>{{p.attributeinfo_set.count}}</td></tr>
	                </table>
			<a href='{%url "publicProjects"%}?enroll={{p.pk}}'><button class='btn btn-primary'>Subscribe</button></a>

		</div>
		{%endfor%}
	</div>
</div>

</div>

{%block js %}
{%endblock%}
{%endblock%}
