<html>
<head>
<meta name="viewport" content="initial-scale=1">
<title>OREAN: {%block title%}{%endblock%}</title>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/nv.d3.css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/custom.css?v=0.4" />
<!--<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-theme.min.css">
-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/css/select2.min.css" />-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />

<style>
#projectbin{
	display: flex;
	flex-direction: row;
	background: #3D3D3D;
	width: 100%;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	height: auto;
	padding:5 15 5 15;
}

.projectFeature {
padding-left:10px; 
padding-right: 10px;
border-radius: 25px 25px 25px 25px; 
text-align: center; 
background: #FFF; 
color: #000;
}

.projectSelectItem:hover {
background: #D1D1D1; 
border-radius: 25px 25px 25px 25px;
}
/*
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
*/
</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  //ga('create', 'UA-62931735-1', 'auto');
  ga('create', 'UA-62931735-1', 'bioinfora.com');
  ga('send', 'pageview');
</script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}";</script>

{%block header%}
{%endblock%}
</head>

<body>
<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid text-center">
  <!--<div class='container-header'>-->
    <a class="navbar-brand" href="{%url 'home'%}">OREAN</a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	{%if user.is_authenticated%}
        <li class="dropdown">
          <a href="#" class='dropdown-toggle' data-toggle='dropdown'>Project <b class='caret'></b></a>
          <ul class='dropdown-menu'>
            <li><a href='{% url "createProject" %}'>New</a></li>
            <!--<li><a href='{% url "chooseproject" %}'>Choose</a></li>-->
            <li><a href='{% url "publicProjects" %}'>Public Projects</a></li>
            {%if is_project_admin or user.is_superuser %}
            <li><a href='{%url "manageProject"%}'>Manage</a></li>
            <li><a href='{%url "uploadAnalysis"%}'>Upload Analysis Data</a></li>
            <li><a href='{%url "uploadMetadata"%}'>Upload Metadata</a></li>
            <li><a href='{%url "uploadStatus"%}'>View Uploads</a></li>
            {%endif%}
            <li><a href='{%url "archiveList"%}'>Saved Pages</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class='dropdown-toggle' data-toggle='dropdown'>Query <b class='caret'></b></a>
          <ul class='dropdown-menu'>
            <li><a href='{% url "buildquery" %}'>New</a></li>
            <li><a href='{% url "samplebasedquery" %}'>New from list</a></li>
            <li><a href='{%url "managequeries"%}'>Manage</a></li>
            <li><a href='{% url "mergequery" %}'>Merge</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class='dropdown-toggle' data-toggle='dropdown'>Attributes <b class='caret'></b></a>
          <ul class='dropdown-menu'>
            <li><a href='{% url "attributes" %}'>Bar Chart</a></li>
            <li><a href='{% url "analytics" %}'>Visual Explorer</a></li>
            <li><a href='{% url "analyticsComparison" %}'>Visual Comparison</a></li>
            {%if request.session.projectTimecourse%}
	    <li role="separator" class="divider"></li>
    	    <li><a href="{%url 'metadataTimeseries' %}">Attribute Timeseries</a></li>
	    {%endif%}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class='dropdown-toggle' data-toggle='dropdown'>Data <b class='caret'></b></a>
          <ul class='dropdown-menu'>
            <li><a href='{% url "stackedbars" %}'>Stacked Bars</a></li>
            <li><a href='{% url "ideastackedbars" %}'>Stacked Bars - V2</a></li>
            <li><a href='{% url "16sProfileBoxplot" %}'>Boxplot</a></li>
            <li><a href='{% url "samplereport" %}'>Sample</a></li>
            <li><a href='{% url "taxaInvestigator" %}'>Entity investigation</a></li>
            {%if request.session.projectTimecourse%}
            <li role="separator" class="divider"></li>
            <li><a href="{%url 'mostAbundantOverTime' %}">Data Timeseries</a></li>
            {%endif%}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class='dropdown-toggle' data-toggle='dropdown'>Statistics <b class='caret'></b></a>
          <ul class='dropdown-menu'>
            <li><a href='{% url "alpha" %}'>Alpha Diversity</a></li>
            <li><a href='{% url "beta" %}'>Beta Diversity</a></li>
            <li><a href='{% url "clustering" %}'>Clustering</a></li>
            <li><a href='{% url "heatmap" %}'>Heatmap</a></li>
            <li><a href='{% url "lefse" %}'>LEfSe</a></li>
            <li><a href='{% url "pca" %}'>PCA</a></li>
          </ul>
        </li>
        <li><a href='{% url "logout" %}'>Sign-out ({{user.first_name}})</a></li>
	{%else%}
        <li><a href='{% url "login" %}'>Sign-in</a></li>
	{%endif%}
        <li><a href='{% url "team" %}'>Team</a></li>
        <li class="dropdown">
          <a href="#" class='dropdown-toggle' data-toggle='dropdown'>Help <b class='caret'></b></a>
          <ul class='dropdown-menu'>
            <li><a href='{% url "documentation" %}#about'>About</a></li>
            <li><a href='{% url "documentation" %}#uploads'>Uploads</a></li>
            <li><a href='{% url "documentation" %}#terminology'>Terminology</a></li>
            <li><a href='{% url "documentation" %}#contact'>Contact</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  <!--</div>-->
  </div>
</div>

      {% if user.is_authenticated and request.session.projectName%}
<div class='row-fluid'>
  <div id='projectbin'>
      <div class='projectFeature'>
        <a class='black' href='#' id='projectPopover' data-placement="bottom">Project: {{request.session.projectName}} <span class="glyphicon glyphicon-chevron-down"></span></a>
        <div id="projectPopoverContent" style="display: none">
                {%for project in available_projects%}
                <p><form class='projectSelectItem' action="{%url 'chooseproject'%}" method="POST">{%csrf_token%}<input type='hidden' name='goto' value="{{request.get_full_path|urlencode}}"/><input type='hidden' name='project' value="{{project.pk}}"/><button class='btn btn-link black'>{{project.name}}</button></form></p>
                {%endfor%}
        </div>
      </div>
      <div>
	{%block savePageIcon%}
	<a id='savePageButton' style='align-self: auto' data-toggle="modal" data-target="#pageSaveModal" href="#"><span title="save page to my archive" class="glyphicon glyphicon-floppy-disk white"></span></a>
	{%endblock%}
      {%if user.is_superuser%}
	<a style='align-self: auto' href="{%url 'home'%}admin"><span title="go to admin console" class="glyphicon glyphicon-wrench white"></span></a>
  	<a style='align-self: auto' href="/monitorix"><span title="view system monitor" class="glyphicon glyphicon-stats white"></span></a>
      {%endif%}
      </div>
  </div>
</div>

      {%endif%}

<!-- Modal -->
<div class="modal fade black" id="pageSaveModal" tabindex="-1" role="dialog" aria-labelledby="mySavePageModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="savePageForm" method="POST" action="{%url 'archiveSave'%}">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="mySavePageModalLabel">Save page to archive</h4>
        </div>
        <div class="modal-body">
          	{%csrf_token%}
                <div class="form-group">
                  <label for="savedPageName">Name</label>
                  <input type="text" class="form-control" id="savedPageName" name='savedPageName' placeholder="Name">
                </div>
                <div class="form-group">
          	  <label for="savedPageDescription">Description</label>
		  <textarea id='savedPageDescription' class="form-control" name='description' rows="4" cols="75" placeholder='Enter your description here'></textarea>
                </div>
		<div class="checkbox">
    		  <label>
  		    <input name='share' type="checkbox"> Share this link with others in the project 
  		  </label>
  		</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id='submitSavePageButton' type="button" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom" style='height: 25px; min-height: 25px;'>
  <div class="navbar-header white" style='width: 100%'>
    <p class='text-center' style='margin-top: 5px; margin-bottom: 5px'>OREAN 2016</p>
  </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<!--<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v3.js"></script>
<script src="{{STATIC_URL}}js/nv.d3.min.js"></script>
<script src="{{STATIC_URL}}js/crossfilter.v1.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.blockUI.js"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/js/select2.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<script src="{{STATIC_URL}}js/savePage.orean.js?v=0.2"></script>

{%block main%}
{%endblock%}

<script>
$(function(){
    
    $("#projectPopover").popover({
        html : true, 
        content: function() {
          return $('#projectPopoverContent').html();
        },
	placement: 'auto',
    });

});
/*
$(window).load(function() {
  $('body').css('padding-top', parseInt($('.navbar-fixed-top').css("height")));
  navWidth = parseInt($('.navbar-nav').css("width"));
  contWidth = parseInt($('.navbar-collapse').css("width"));
  padVal = (contWidth-navWidth)/2;
  $('.navbar-nav').css('padding-left', padVal);
});
*/
$("#sidebar-toggle-element").click(function() {
        $("#sidebar-arrow").toggleClass("glyphicon-arrow-down").toggleClass("glyphicon-arrow-up");
});
</script>



</body>
</html>
