<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
   <meta charset="utf-8"/>
     <link rel="shortcut icon" href="{{STATIC_URL}}img/krona.favicon.ico"/>
     <script id="notfound">window.onload=function(){document.body.innerHTML="Could not get resources from OREAN for Krona plot."}</script>
     <script src="{{STATIC_URL}}js/krona-2.0.js"></script>
 </head>
 <body>
   <img id="hiddenImage" src="{{STATIC_URL}}img/hidden.png" style="display:none"/>
     <img id="loadingImage" src="{{STATIC_URL}}img/loading.gif" style="display:none"/>
     <noscript>Javascript must be enabled to view this page.</noscript>
     <div style="display:none">
{{xml|safe}}
     </div>
 </body>
</html>
