{%extends "root.html"%}

{%block header%}
<link rel="stylesheet" href="{{STATIC_URL}}css/cover.css" />
{%endblock%}

{%block main%}
<div id='content'>

{%include "snippets/messages.html"%}

<div class="site-wrapper">
     <div class="site-wrapper-inner">
        <div class="cover-container">
	    <div class="inner cover">
		{%block content %}
		{%endblock%}
	    </div>
	</div>
	{%block video%}
	{%endblock%}
     </div>
</div>

<div style='clear: both'></div>
</div>

{%block js %}
{%endblock%}
{%endblock%}
