{%extends "root.html"%}

{%block header%}
<link rel="stylesheet" href="{{STATIC_URL}}css/cover.css" />
{%endblock%}

{%block main%}
<div id='content'>
<div class='container messagebin'>
{%if messages%}
{%for message in messages%}
<div class="clearfix text-center alert alert-{%if message.tags%}{{message.tags}}{%else%}info{%endif%}">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}
</div>
{%endfor%}
{%endif%}
</div>

<div class="site-wrapper">
     <div class="site-wrapper-inner">
	{%block video%}
	{%endblock%}
        <div class="cover-container">
	    <div class="inner cover">
		{%block content %}
		{%endblock%}
	    </div>
	</div>
     </div>
</div>

<div style='clear: both'></div>
</div>

{%block js %}
{%endblock%}
{%endblock%}
