<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/cover.css">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">MiRA</h3>
              <ul class="nav masthead-nav">
                <li class="dropdown text-left">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{%url 'createProject'%}">New</a></li>
                    <li><a href="{%url 'chooseproject'%}">Choose</a></li>
                  </ul>
                </li>
                <li class="dropdown text-left">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Queries <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{%url 'buildquery'%}">Build</a></li>
                    <li><a href="{%url 'managequeries'%}">Manage</a></li>
                  </ul>
                </li>
                <li class="dropdown text-left">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analysis <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{%url 'attributes'%}">Attributes</a></li>
                    <li><a href='{% url "area" %}'>Profiles</a></li>
                    <li><a href='{% url "16sProfileBoxplot" %}'>Profile Distributions</a></li>
                    <li><a href='{% url "alpha" %}'>Alpha Diversity</a></li>
                    <li><a href='{% url "beta" %}'>Beta Diversity</a></li>
                    <li><a href='{% url "lefse" %}'>LEfSe</a></li>
                    <li><a href='{% url "pca" %}'>PCA</a></li>
                    <li><a href='{% url "analytics" %}'>Analytics</a></li>
                  </ul>
                </li>
              </ul>
            </div>

            {%if messages%}
            <br>
            {%for message in messages%}
            <div class="clearfix alert alert-{%if message.tags%}{{message.tags}}{%else%}info{%endif%}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
            {%endfor%}
            {%endif%}
          </div>

          <div class="inner cover">
             {%block content%}
             {%endblock%}
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>MiRA {%if user.is_superuser%}<a href="{%url 'home'%}admin"><span class="glyphicon glyphicon-wrench"></span></a>{%endif%}</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  </body>
</html>
