{%extends "splash.html" %}


{%block title%}Team{%endblock%}

{%block main%}
<h1 class='white'>Our Team</h1>
<h4 class='white'>OREAN was developed by the Bioinformatics Computational Core Lab at VCU.</h4>

<!--
<div class="site-wrapper">
     <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">-->
<div class='row'>
	<div class='col-lg-6 col-lg-offset-3'>
		<div class='row'>
			<div class='col-lg-4'>
			<img src="https://vmc.vcu.edu/static/img/myImgs/team/nsheth.jpg" class="img-circle img-responsive center-block">
			<p>Nihar Sheth</p>
                        <p>Technical Director, Bioinformatics Computational Core Lab<br>
                        nsheth@vcu.edu</p>                                                                 
			</div>

                      <div class='col-lg-4'>
                        <img src="http://vmc.vcu.edu/static/img/myImgs/team/bradleysp.jpg" class="img-circle img-responsive center-block">
                        <p>Steven Bradley</p>
                        <p>Bioinformatics Engineer<br>
                        bradleysp@vcu.edu</p>                                                                 
                        </div>

                        <div class='col-lg-4'>
                        <img src="https://placekitten.com/g/300/412" class="img-circle img-responsive center-block">
                        <p>Hardik Parikh</p>
                        <p>Postdoctoral Scientist<br>
                        parikhhi@vcu.edu</p>                                                                 
                        </div>

		</div>
	</div>
</div>
<!--            </div>
        </div>
     </div>
</div>-->

{%endblock%}
